:host {
  display: block;
  width: 100%;
  color: var(--blue-400);
  transition: 0.2s;

  * {
    box-sizing: border-box;
  }
  select {
    appearance: none;
    background: none;
    border: none;
    outline: none;
    border-radius: 0;
    font-family: inherit;
    &:focus {
      outline: none;
    }
  }
  div {
    width: 100%;
    label {
      font-size: 1.4rem;
    }
    select {
      width: 100%;
      color: inherit;
      font-size: 1.6rem;
      margin-top: 1.1rem;
      padding: 0 1.1rem;
      border: 1px solid;
      height: 5rem;
      border-radius: 3px;
      &::placeholder {
        color: inherit;
      }
    }
  }
}

:host([errored]) {
  color: var(--red);
}
