*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  min-width: 320px;
  -webkit-overflow-scrolling: touch;
  touch-action: manipulation;
  height: 100%;
  overflow: overlay;
  overflow-x: hidden;
  margin: 0;
}

html {
  // font-size: var(--base-font-size);
  font-size: 62.5%;

  @media only screen and (max-width: 1360px) {
    font-size: 44%;
  }

  @media only screen and (max-width: 768px) {
    font-size: 62.5%;
  }
  @media only screen and (max-width: 640px) {
    font-size: 52%;
  }
  @media only screen and (max-width: 480px) {
    font-size: 37%;
  }
  @media only screen and (max-width: 375px) {
    font-size: 30%;
  }
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--blue-200);
  height: 100%;
  position: relative;
  font-family: 'OpenSans-Regular';
}

a {
  color: var(--black);
}
