:root {
  --blue-100: #f3f4f8;
  --blue-200: #d2ddeb;
  --blue-300: #a7bedb;
  --blue-400: #a1c4ff;
  --blue-500: #779cdb;
  --dark-blue: #45617e;
  --grey-50: #e9eaed;
  --grey-100: #bbbbbb;
  --grey-200: #b8b8b8;
  --grey-300: #aaaaaa;
  --red: #f85776;
  --white-100: #ffffff;
  --white-200: #f9fafb;
  --black: #000;

  --header-size: 5.6rem;
}
